# Backend API Base URL
VITE_API_URL=https://go-backend-hfiw.onrender.com
# LiveKit Cloud Configuration
VITE_LIVEKIT_URL=wss://mychat-j2vuijbd.livekit.cloud
VITE_LIVEKIT_API_KEY=APIrhiGwPJCxTAe
VITE_LIVEKIT_API_SECRET=eIFN0JN4Mp93b7MXvZWPJCfprQLcvN56S630cfUW9e3D
